@model ProjektZaliczeniowyNET.DTOs.ServiceOrder.ServiceOrderCreateDto

@{
    ViewData["Title"] = "Nowe zlecenie serwisowe";
}

<h2>@ViewData["Title"]</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(m => m.VehicleId, "Pojazd")
        @Html.DropDownListFor(
            m => m.VehicleId, 
            ViewBag.Vehicles as SelectList, 
            "-- Wybierz pojazd --", 
            new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.VehicleId)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.CustomerId, "Klient")
        @Html.DropDownListFor(
            m => m.CustomerId, 
            ViewBag.Customers as SelectList, 
            "-- Wybierz klienta --", 
            new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.CustomerId)
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.AssignedMechanicId, "Mechanik")
        @Html.DropDownListFor(
            m => m.AssignedMechanicId, 
            ViewBag.Mechanics as SelectList, 
            "-- Wybierz mechanika --", 
            new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.AssignedMechanicId)
    </div>

   
    <button type="submit" class="btn btn-primary">Zapisz</button>
    <a asp-action="Index" class="btn btn-secondary">Anuluj</a>
}